<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TaskHubJS</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="stylesheet" href="/css/smoothproducts.css">
    <link rel="stylesheet" href="/css/thjs.css">
</head>

<body style="background: rgb(246,246,246);">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light clean-navbar" style="height: 60px">
        <div class="container"><a class="navbar-brand logo" href="#">TaskHubJS</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/management">Management</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container" style="background: url(&quot;/assets-login/img/background.png&quot;) center / contain no-repeat;">
                <div class="block-content thjs-round" style="background-color: rgba(255,255,255,0.8); margin-top: 100px;">
                    <div class="product-info">
                        <div class="info">
                            <a class="btn btn-primary" href="/dashboard" style="margin-bottom: 60px"><i class="fa fa-arrow-circle-left"></i>Back to dashboard</a>
                            <h3 id="sys-title"></h3>
                            <div class="rating">
                                <p style="color: black;" id="sys-timestamp"></p>
                            </div>
                            <div class="price">
                                <h3 id="sys-priority"></h3>
                                <h3 id="sys-status"></h3></br>
                                <h3 id="sys-assignment"></h3>
                            </div>
                            <div class="summary"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div>
                            <ul class="nav nav-tabs" role="tablist" id="myTab">
                                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" id="description-tab" href="#description">Description</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" id="time-tab" href="#time">Time documentation</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" id="settings-tab" href="#settings">Settings</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane active fade show description" role="tabpanel" id="description">
                                    <h4 style="margin-top: 0px;">Description</h4>
                                    <p id="sys-description"></p>
                                </div>
                                <div class="tab-pane fade show description" role="tabpanel" id="time">
                                    <h4 style="margin-top: 0px;">Time documentation</h4>
                                    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                                        <div class="col"><a class="btn btn-success" id="sys-time-start"><i class="fa fa-play"></i>Start timer</a><a class="btn btn-danger" id="sys-time-stop" style="margin-left: 20px"><i class="fa fa-stop"></i>Stop timer</a></div>
                                    </div>
                                    <p style="margin-bottom: 20px"><i>Information: To refresh this stats please reload the page.</i></p>
                                    <p id="sys-time"></p>
                                </div>
                                <div class="tab-pane fade show specifications" role="tabpanel" id="settings">
                                    <div class="row" style="margin-bottom: 20px;">
                                        <div class="col"><form class="form-inline" method="post" id="sys-prio"><input type="hidden" name="_csrf" id="_csrf" value="<%= csrftoken %>"><select class="form-control" style="width:200px" id="priority" name="priority"><option value="0">Low priority</option><option value="1">Normal priority</option><option value="2">Urgent priority</option></select><button type="submit" class="btn btn-primary" style="margin-left: 20px;"><i class="fa fa-pencil"></i>Change priority</button></form></div>
                                    </div>
                                    <div class="row" style="margin-bottom: 20px;">
                                        <div class="col"><form class="form-inline" method="post" id="sys-stat"><input type="hidden" name="_csrf" id="_csrf" value="<%= csrftoken %>"><select class="form-control" style="width:200px" id="status" name="status"><option value="0" selected="">Open</option><option value="1">In progress</option><option value="2">Finished</option><option value="3">Information</option></select><button type="submit" class="btn btn-primary" style="margin-left: 20px;"><i class="fa fa-pencil"></i>Change status</button></form></div>
                                    </div>
                                    <div class="row" style="margin-bottom: 20px;">
                                        <div class="col"><form class="form-inline" method="post" id="sys-assign"><input type="hidden" name="_csrf" id="_csrf" value="<%= csrftoken %>"><input class="form-control" type="text" name="username" id="username" placeholder="Username to assign" style="width:200px"><button type="submit" class="btn btn-primary" style="margin-left: 20px;"><i class="fa fa-user"></i>Change assign</button></form></div>
                                    </div>
                                    <div class="row" style="margin-top: 50px;">
                                        <div class="col"><a class="btn btn-danger" id="sys-delete"><i class="fa fa-trash"></i>Remove task</a><a class="btn btn-warning" id="sys-edit" style="margin-left: 50px"><i class="fa fa-refresh"></i>Edit / update task</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="padding: 0px;">
        <div class="footer-copyright">
            <p>Created by holzigerTyp with&nbsp;💙 and Bootstrap Studio Template<br></p>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/js/script.min.js"></script>
    <script>
        if(window.location.href.split("#").pop() == "settings") { document.getElementById("description").classList = "tab-pane fade show description"; document.getElementById("settings").classList = "tab-pane active fade show specifications"; document.getElementById("description-tab").classList = "nav-link"; document.getElementById("settings-tab").classList = "nav-link active"; }
        if(window.location.href.split("#").pop() == "time") { document.getElementById("time").classList = "tab-pane active fade show description"; document.getElementById("description").classList = "tab-pane fade show description"; document.getElementById("settings").classList = "tab-pane fade show specifications"; document.getElementById("description-tab").classList = "nav-link"; document.getElementById("settings-tab").classList = "nav-link"; document.getElementById("time-tab").classList = "nav-link active"; }

        function secondConverter(seconds) { seconds = Number(seconds); var d = Math.floor(seconds / (3600*24)); var h = Math.floor(seconds % (3600*24) / 3600); var m = Math.floor(seconds % 3600 / 60); var s = Math.floor(seconds % 60); var dDisplay = d > 0 ? d + (d == 1 ? " day, " : " days, ") : ""; var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : ""; var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : ""; var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : ""; return dDisplay + hDisplay + mDisplay + sDisplay; }

        $.ajax({
            type: "GET",
            url: window.location.protocol + '//' + window.location.host + "/api/gettaskdetail/" + window.location.href.split("/").pop(),
            crossDomain: false,
            dataType: "json",
            success: function(data) {
                for (i = 0; i < data.length; i++) {
                    var stat = "Error"
                    var col = ""
                    if(data[i].status == 0) {
                        stat = "Open"
                        col = "primary"
                    } else if(data[i].status == 1) {
                        stat = "In progress"
                        col = "warning"
                    } else if(data[i].status == 2) {
                        stat = "Finished"
                        col = "success"
                    } else if(data[i].status == 3) {
                        stat = "Information"
                        col = "info"
                    }


                    var prio = "Error"
                    var colPrio = ""
                    if(data[i].priority == 0) {
                        prio = "Low"
                        colPrio = "secondary"
                    } else if(data[i].priority == 1) {
                        prio = "Normal"
                        colPrio = "info"
                    } else if(data[i].priority == 2) {
                        prio = "Urgent"
                        colPrio = "danger"
                    }

                    document.getElementById("sys-title").innerText = data[i].title
                    document.getElementById("sys-description").innerText = data[i].description
                    var time = data[i].timestampCreated.split("/")
                    document.getElementById("sys-timestamp").innerText = "Created at " + time[0] + "." + time[1] + "." + time[2] + " " + time[3] + ":" + time[4] + ":" + time[5]
                    document.getElementById("sys-priority").innerHTML = 'Priority:&nbsp;<span class="badge badge-' + colPrio + '">' + prio + '</span>'
                    document.getElementById("sys-status").innerHTML = 'Status:&nbsp;<span class="badge badge-' + col + '">' + stat + '</span>'
                    document.getElementById("sys-assignment").innerHTML = 'Assigned to:&nbsp;<span class="badge badge-secondary">' + data[i].assignment + '</span>'
                    document.getElementById("sys-delete").href = '/api/deletetask/' + window.location.href.split("/").pop() 
                    document.getElementById("sys-edit").href = '/updatetask/' + window.location.href.split("/").pop() 
                    document.getElementById("sys-stat").action = '/api/changestatus/' + window.location.href.split("/").pop()
                    document.getElementById("sys-prio").action = '/api/changepriority/' + window.location.href.split("/").pop()
                    document.getElementById("sys-assign").action = '/api/changeassign/' + window.location.href.split("/").pop()
                    document.getElementById("sys-time-start").href = '/api/startlogging/' + window.location.href.split("/").pop() 
                    document.getElementById("sys-time-stop").href = '/api/stoplogging/' + window.location.href.split("/").pop() 
                }
            }
        })

        $.ajax({
            type: "GET",
            url: window.location.protocol + '//' + window.location.host + "/api/getlogging/" + window.location.href.split("/").pop(),
            crossDomain: false,
            dataType: "json",
            success: function(logdata) {
                for (i = 0; i < logdata.length; i++) {
                    document.getElementById("sys-time").innerHTML = document.getElementById("sys-time").innerHTML + '<span class="badge badge-info">' + logdata[i][0] + "</span> : " + secondConverter(logdata[i][1]) + "</br>"
                }
                if(logdata.length == 0) {
                    document.getElementById("sys-time").innerHTML = '<span class="badge badge-info">No data captured yet</span>'
                }
            }
        })
        
    </script>
</body>

</html>