<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TaskHubJS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">    
    <link rel="stylesheet" href="/css/light.css">
</head>

<body>
    <div class="sidebar-base">
        <div class="sidebar">
            <div class="row sidebar-logo-row">
                <div class="col"><a href="#" class="sidebar-logo"><img src="/img/thjs-logo.png"/></a></div>
            </div>
            <div class="row sidebar-item-low">
                <div class="col"><a data-bs-toggle="modal" data-bs-target="#loginModal"><i class="fa fa-unlock"></i></a></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="loginModal" data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Please authentificate</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/api/auth" method="post" style="background-color: rgba(255,255,255,1); border-radius: 20px;">
                        <h2 class="sr-only">Login Form</h2>
                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrftoken %>">
                        <div class="form-group" style="margin-bottom: 30px"><input class="form-control" type="text" name="username" id="username" placeholder="Username" style="background-color: rgba(0,0,0,0);" autofocus></div>
                        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" style="background-color: rgba(0,0,0,0.0);"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Log in</button></form>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <h1>Welcome to TaskHubJS</h1>
        <p>TaskHubJS is a nodeJS based task organizer that is right in your browser. With the beautiful possibilities of expressJS and other npm packages it is possible to create a task organizer for your needs.</br></br>
        This project is licensed under GNU General Public License v3.0.</p>
    	</br></br>
        <div class="content-inline">
        	<a class="btn btn-primary" href="https://github.com/holzigerTyp/TaskHubJS/blob/master/LICENSE"><i class="fa fa-github"></i>&nbsp; View license at GitHub</a>
        	<a class="btn btn-primary" href="https://github.com/holzigerTyp/TaskHubJS/"><i class="fa fa-github"></i>&nbsp; View GitHub repository</a>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script></body>
</html>