<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TaskHubJS</title>
    <link rel="stylesheet" href="assets-index/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets-index/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets-index/fonts/simple-line-icons.min.css">
</head>

<body id="page-top">
    <header class="d-flex masthead" style="background: url(&quot;assets-index/img/background.png&quot;) center / contain no-repeat;">
        <div class="container my-auto text-center">
            <h1 class="mb-1" style="color: #242a38;text-align: left;"></h1>
            <div class="overlay" style="text-align: left;margin-top: 150px;"><a class="btn btn-primary btn-xl js-scroll-trigger" role="button" href="/login" style="background: linear-gradient(-146deg, #f78361, #f54b64);margin-left: 60px;">Start using</a></div>
        </div>
    </header>
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="text-white social-link rounded-circle" href="https://github.com/holzigerTyp/TaskHubJS" style="background: linear-gradient(#f78361, #f54b64);"><i class="icon-social-github"></i></a></li>
            </ul>
            <p class="text-muted mb-0 small"><br>Created&nbsp;by&nbsp;holzigerTyp&nbsp;with 💙&nbsp;and&nbsp;Bootstrap&nbsp;Studio&nbsp;Template<br></p>
        </div></footer>
    <script src="assets-index/js/jquery.min.js"></script>
    <script src="assets-index/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>