<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TaskHubJS</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="stylesheet" href="/css/smoothproducts.css">
</head>

<body style="background: rgb(246,246,246);">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">TaskHubJS</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/management">Management</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Management</h2>
                </div>
                <div class="block-content">
                    <div class="product-info">
                        <div>
                            <ul class="nav nav-tabs" role="tablist" id="myTab">
                                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" id="general-tab" href="#general">General</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" id="accounts-tabs" href="#accounts">Accounts</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane active fade show specifications" role="tabpanel" id="general">
                                    <h4 style="margin-top: 0px;">General settings</h4>
                                    <p>Coming soon...</p>
                                </div>
                                <div class="tab-pane fade show specifications" role="tabpanel" id="accounts">
                                    <h4 style="margin-top: 0px;">Account management</h4><a class="btn btn-primary" href="/management/createaccount" style="margin-top: 30px;margin-bottom: 60px;"><i class="fa fa-user-plus"></i>Create new account</a><a class="btn btn-warning" href="/management/changeadminpassword" style="margin-top: 30px;margin-bottom: 60px; margin-left: 20px"><i class="fa fa-pencil"></i>Change admin password</a>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Privileges</th>
                                                    <th>Last login</th>
                                                    <th>Operate</th>
                                                </tr>
                                            </thead>
                                            <tbody id="sys-tbody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="padding: 0px;">
        <div class="footer-copyright">
            <p>Created by holzigerTyp with&nbsp;💙 and Bootstrap Studio Template<br></p>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/js/script.min.js"></script>
    <script>
        $.ajax({
            type: "GET",
            url: window.location.protocol + '//' + window.location.host + "/api/getaccounts",
            crossDomain: false,
            dataType: "json",
            success: function(data) {
                for (i = 0; i < data.length; i++) {
                    var time = data[i].timestampLastLogin.split("/")
                    var ts = time[0] + "." + time[1] + "." + time[2] + " " + time[3] + ":" + time[4] + ":" + time[5]
                    if(data[i].timestampLastLogin == 0) ts = "unknown"

                    if(data[i].username == "admin") document.getElementById("sys-tbody").innerHTML = document.getElementById("sys-tbody").innerHTML + '<tr><td>' + data[i].username + '</td><td>' + data[i].rank + '</td><td>' + ts + '</td><td></td></tr>'
                    else document.getElementById("sys-tbody").innerHTML = document.getElementById("sys-tbody").innerHTML + '<tr><td>' + data[i].username + '</td><td>' + data[i].rank + '</td><td>' + ts + '</td><td><a class="btn btn-danger" href="/api/deleteaccount/' + data[i].UID + '"><i class="fa fa-trash"></i>Remove account</a></td></tr>'
                }
            }
        });
    </script>
</body>

</html>